.header {
  padding: 26px 0;
  background-color: var(--badges);
}
.nav {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 104px;
  height: 16px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.burgerButton,
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: scale 250ms ease-in-out;
}
.burgerButton:hover {
  scale: 1.1;
}

.linksWrapper {
  display: none;
}
.linksWrapper.open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 24px;
  background-color: var(--badges);
  z-index: 100;

  .closeButton {
    margin-left: auto;
  }
}
.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main);
  transition: scale 250ms ease-in-out;
}
.link:hover,
.link:focus {
  scale: 1.05;
}
.link.active {
  color: var(--button);
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 32px;
  }
  .linksWrapper {
    display: flex;
    gap: 32px;
  }
  .burgerButton,
  .closeButton {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    padding: 0 120px;
  }
}
