.list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .list {
    column-gap: 32px;
  }
  .item {
    width: calc((100% - 32px * 3) / 4);
  }
}
