/* NORMALIZE */
/* @import "node_modules/modern-normalize/modern-normalize.css"; */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* VARIABLES */
:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

/* GLOBAL STYLES */

*:focus-visible {
  outline: 1px solid var(--button);
  outline-offset: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
